.container{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.card{
  align-self: center;
  justify-self: center;
  border-radius: 7px;
  background-color: rgb(26, 60, 105);
  color: azure;
  padding: 15px;
  box-shadow: #ffffff83 5px 3px 15px;
}